{{! Add attribute to the card so when clicked, can redirect using the home.js script }}
<div class='post-card' data-post-id='{{this.id}}'>
  <div class='post-card-header'>
    <h2>{{this.title}}</h2>
    <p>by {{this.user.username}} on {{format_date this.createdAt}}</p>
  </div>
  <p class='post-card-content'>{{this.content}}</p>
</div>